* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --background: #181818;
    --primary-color: #242424;
    --secondary-color: #545454;
    --accent-color: #a79eff;
    --text-color: #eaeaea;
}

body {
    min-height: 100vh;
    padding: 20px;
    background-color: var(--background);
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.8rem;
    color: var(--text-color);
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin-top: 100px;
    margin-bottom: 30px;
    font-size: 6rem;
    font-weight: 800;
    text-transform: uppercase;
    color: var(--accent-color);
}

.content {
    width: 800px;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

#todo-input {
    padding: 20px;
    width: 100%;
    background: none;
    border: 2px solid var(--secondary-color);
    border-radius: 100px;
    font: inherit;
    font-size: 1.2rem;
    color: var(--text-color);
    caret-color: var(--accent-color);
}

#todo-input:focus {
    outline: none;
}

form {
    position: relative;
}

#add-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: var(--accent-color);
    height: 100%;
    padding: 0 30px;
    border: none;
    border-radius: 100px;
    font: inherit;
    font-weight: 600;
    color: var(--background);
    cursor: pointer;
}

.todo {
    margin-top: 20px;
    padding: 0 25px;
    background-color: var(--primary-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.todo .todo-text {
    padding: 20px;
    padding-right: 0;
    flex-grow: 1;
    transition: 200ms ease;
}

.delete-btn {
    padding: 8px;
    background: none;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.delete-btn:hover {
    background-color: #c50000;
    border-radius: 100px;
    transition: 300ms ease;
}

.custom-checkbox {
    border: 2px solid var(--accent-color);
    border-radius: 50%;
    min-height: 30px;
    min-width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    cursor: pointer;
    transition: 200ms ease;
}

input[type="checkbox"]:checked~.custom-checkbox {
    background-color: var(--accent-color);
}

input[type="checkbox"]~.custom-checkbox img {
    display: none;
}

input[type="checkbox"]:checked~.custom-checkbox img {
    display: block;
}

input[type="checkbox"]:checked~.todo-text {
    text-decoration: line-through;
    color: var(--secondary-color);
}

input[type="checkbox"] {
    display: none;
}

@media(max-width: 750px) {
    body {
        font-size: 1.5rem;
    }

    #todo-input {
        font-size: 1rem;
    }

    h1 {
        margin-top: 70px;
        font-size: 5rem;
    }
}

@media(max-width: 500px) {
    body {
        font-size: 1.3rem;
    }

    #add-btn {
        position: unset;
        width: 100%;
        height: auto;
        margin-top: 10px;
        padding: 15px;
    }

    #todo-input {
        font-size: 0.9rem;
    }

    h1 {
        margin-top: 50px;
        font-size: 4rem;
    }
}